* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #141414;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_left {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  min-width: 40vw;
}

.header_left > img {
  width: 90px;
  padding-left: 10px;
}
.header_left > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.header_left > ul > li {
  color: white;
  padding-left: 20px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 20vw;
}

.header_right > .MuiSvgIcon-root {
  color: whitesmoke;
}
