.row > img {
  height: 200px;
  object-fit: contain;
  overflow-x: scroll;
  margin-left: 10px;
  margin-top: 40px;
  cursor: pointer;
  transition: transform 500ms;
  margin-bottom: 10px;
}

.row > img:hover {
  transform: scale(1.1);
}

.row > img::-webkit-scrollbar {
  display: none;
}
